<footer class="mt-24 pb-8 text-center text-sm text-gray-500">
  <p>
    Built with Cursor by 
    <%= link_to "Heshie Brody", "https://heshiebrody.com", 
        class: "text-indigo-600 hover:text-indigo-800", 
        target: "_blank" %> 
    (on 
    <%= link_to "ð• @heshiebee", "https://twitter.com/heshiebee", 
        class: "text-indigo-600 hover:text-indigo-800", 
        target: "_blank" %> also
    <%= link_to "Stop Being Broke", "https://memelord.tech/?via=heshie", 
        class: "text-indigo-600 hover:text-indigo-800", 
        target: "_blank" %>)
  </p>
</footer> 